input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}
a{
    color: white;
}

.body{
    background-color: #222e3c;
    color: white;
}

.card, .nav-link {
    background-color: transparent !important;
    border: 0 !important;
}

.nav-link.active{
    color: white !important;
}

.nav-tabs{
    border: 0;
}

.form-control:focus{
    background-color: #222e3c ;
    box-shadow: none;
    color: white;
}

.sign__group{
    max-width: min-content;
}

.sign__form{
    background-color: #212529;
}

.seats:hover{
    color: #0d6efd;
}

.alert-danger{
    background-color: #d24d59;
    border-color: #d24d59;
    color: white;
}

.home{
    padding-top: 50px;
}


.accordion{
    max-height: 500px;
    height: 400px;
}

.toast-container{
    z-index: 50;
    
}

.accordion__list tbody tr:hover{
    background-color: transparent;
    cursor:default;
}