.body{
    background-color: #222e3c;
}

.card, .nav-link {
    background-color: transparent !important;
    border: 0 !important;
}

.nav-link.active{
    color: white !important;
}

.nav-tabs{
    border: 0;
}

.form-control:focus{
    background-color: #222e3c ;
    box-shadow: none;
    color: white;
}

.sign__group{
    max-width: min-content;
}

.sign__form{
    background-color: #212529;
}